body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: bisque;
    font-family: sans-serif;
}

/*.grid {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 2fr 2fr 2fr;
    grid-template-rows: auto;
    background-color: white;
}*/

.grid {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    overflow: hidden;
    gap: var(--gap);
 }

.header-row {
    font-size: 30px;
    font-weight: 600;
}